// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline {
	display:  -webkit-box;
	text-align: center;
	margin: 0 auto;
}

#center {
	text-align: center;
}

.center {
	text-align: center;
}

#skill_holder {

	height:95%;

}


footer {
	background-color: #eee;
	border-radius: 6px;  
	text-align: center;

}

#footer {
	display: -webkit-box;
}

#height_100 {
	height: 100%;
}

#homepage{
	height:100%;
}


li {
	text-align: left;
}

.centify {
	margin: 0 auto;
}

.float-right {
	float:right;
}

.jumbotron {
	margin-top: 10%;
}

portfolio_highlight {
	height: 1000px;
	margin-top: 5%;


	
}

.text-left {
	text-align:left;
}

#first_piece_of_content {
	height:100%;
	background-color: teal;
}

#row_holder_for_skills {
	margin-top: 20%
}

.border-bottom {
	border-bottom:1px black solid;
}


