// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline {
	display:  -webkit-box;
	text-align: center;
	margin: 0 auto;
}

#center {
	text-align: center;
}

.center {
	text-align: center;
}

#skill_holder {
	
	margin-bottom: 10%;
}

footer {
	background-color: #eee;
	border-radius: 6px;  
	margin: 0 auto;
}

#height_100 {
	height: 100%;
}

#foot {
	margin-top: 5%;
}

li {
	text-align: left;
}

.centify {
	margin: 0 auto;
}

.float-right {
	float:right;
}

#portfolio_highlight {
	height: 500px;
	margin-top: 5%;
}

.text-left {
	text-align:left;
}

