<html>
<head>
	<title></title>
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1 id="center">Sean Cosentino</h1>
			<div class="row">
				<div class="col-sm-3 center">
					<h6>Web Design and Development</h6> 
				</div> 
				<div class="col-sm-3 center">
					<h6>Wireframing and Prototyping</h6>
				</div> 
				<div class="col-sm-3 center"> 
					<h6>Servers and Deployment</h6> 
				</div> 
				<div class="col-sm-3 center"> 
					<h6>Software Version Control </h6> 
				</div> 
			</div>
		</div>
		<!-- END Header -->








		<!-- COLUMNS -->
		<div id="skill_holder">
			<div class="row center">
				<div class="col-sm-4">
					<h3>Deployment<br><br></h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span style="font-size:5em;" class="glyphicon glyphicon-random" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><br></h4>
								</div>
								<div class="modal-body">
									<p><h2>Production Environment</h2></p>
									<ul>
										<li>Heroku Servers</li>
										<li>Scaling</li>
										<li>Amazon AWS</li>
									</ul>
									<img width="100%" src="https://d3k90kvix375hb.cloudfront.net/assets/heroku-og-10db236b67ed1eb9d5b504c40d2bf465.png">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>

				</div>
				<div class="col-sm-4">
					<h3>Software Version Control</h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal1"> <span style="font-size:5em;" class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal1" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><br></h4>
								</div>
								<div class="modal-body">
									<p>Created and Managed a Git flow with multiple developers.</p>
									<img width="100%" src="http://blog.kanbanize.com/wp-content/uploads/2014/11/GitHub.jpg">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>



				</div>
				<div class="col-sm-4">
					<h3>Web Design<br><br></h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2"><span style="font-size:5em;" class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal2" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><br></h4>
								</div>
								<div class="modal-body">
									<p>Design Beautiful and Intriguing UI/UX. </p>
									<img width="100%" src="http://pre05.deviantart.net/a55d/th/pre/f/2013/187/2/a/photoshop_logo_wallpaper_by_peterbaumann-d6c88bw.png">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>



				</div>
			</div>

			<div class="row center">
				<div class="col-sm-4">
					<h3>Prototyping & Wireframing</h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal3"><span style="font-size:5em;" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal3" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><br></h4>
								</div>
								<div class="modal-body">
									<p>Using means and standards, develop engaging wireframes and prototypes to show proof-of-concept and more.</p>
									<img width="100%" src="http://giveabrief.com/img/DocumentIcon.png">
									<img width="100%" src="https://media.balsamiq.com/files/appicon/mybalsamiq-lg.png">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>



				</div>
				<div class="col-sm-4">
					<h3>Back End Development</h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal4"> <span style="font-size:5em;" class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal4" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><br></h4>
								</div>
								<div class="modal-body">
									<p>With Ruby on Rails, I can build a strong back-end to handle a vast array of tasks. Many popular companies have used Ruby on Rails including Twitter.</p>
									<img width="100%" src="http://www.nascenia.com/wp-content/uploads/2014/11/rubyrails.png">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>


				</div>
				<div class="col-sm-4">
					<h3>Mobile First<br><br></h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal5"><span style="font-size:5em;" class="glyphicon glyphicon-phone" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal5" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><br></h4>
								</div>
								<div class="modal-body">
									<p>As a testament to how truly Important Mobile First Development is, Google recently announced it will begin to remove sites from its listings if their Websites are not mobile friendly. You can text your website at the follow link:
										<a href="https://www.google.com/webmasters/tools/mobile-friendly/">Mobile Friendly Test</a></p>
										<img width="100%" src="http://www.e-cohere.com/sites/default/files/images/2013-5/mobile_first.png">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>



				</div>
			</div>
		</div>


		<footer>
			<div id="height_100" class="row center">
				<div id="foot" class="col-sm-4">
					<a href="/portfolio"><button class="btn btn-primary">Portfolio</button></a>	
				</div>
				<div id="foot" class="col-sm-4">
					<a href="/contact"><button class="btn btn-primary">Contact Me</button></a>	
				</div>
				<div id="foot" class="col-sm-4">
					<a href="https://about.me/sparkcollaboration"><button class="btn btn-primary">About Me</button></a>	
				</div>


			</div>
		</footer>




	</div>

</body>
</html>