<html>
<head>
	<title></title>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1 id="center">Sean Cosentino</h1>
    	<div class="row">
    		<div class="col-sm-3 center">
    			<h6>Web Design and Development</h6> 
    		</div> 
    		<div class="col-sm-3 center">
    			<h6>Wireframing and Prototyping</h6>
    		</div> 
    		<div class="col-sm-3 center"> 
    			<h6>Servers and Deployment</h6> 
    		</div> 
    		<div class="col-sm-3 center"> 
    			<h6>Software Version Control </h6> 
    		</div> 
		</div>
  </div>
<!-- END Header -->








<!-- COLUMNS -->
<div id="skill_holder">
  <div class="row center">
      <div class="col-sm-4">
      <h3>Software Version Control</h3>
     <span style="font-size:5em;" class="glyphicon glyphicon-random" aria-hidden="true"></span>


    </div>
    <div class="col-sm-4">
      <h3>Deployment</h3>
     <span style="font-size:5em;" class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
   
  
    </div>
      <div class="col-sm-4">
      <h3>Web Design</h3>
     <span style="font-size:5em;" class="glyphicon glyphicon-picture" aria-hidden="true"></span>
    
      
    </div>
  </div>

   <div class="row center">
      <div class="col-sm-4">
      <h3>Prototyping & Wireframing</h3>
     <span style="font-size:5em;" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
     
   
    </div>
    <div class="col-sm-4">
      <h3>Back End Development</h3>
     <span style="font-size:5em;" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    
    </div>
      <div class="col-sm-4">
      <h3>Mobile First</h3>
     <span style="font-size:5em;" class="glyphicon glyphicon-phone" aria-hidden="true"></span>
    

    </div>
  </div>
</div>


<footer>
<div id="height_100" class="row center">
<div id="foot" class="col-sm-4">
	<a href="/portfolio"><button class="btn btn-primary">Portfolio</button></a>	
</div>
<div id="foot" class="col-sm-4">
	<a href="/contact"><button class="btn btn-primary">Contact Me</button></a>	
</div>
<div id="foot" class="col-sm-4">
	<a href="/portfolio"><button class="btn btn-primary">About Me</button></a>	
</div>


</div>
</footer>




</div>

</body>
</html>