

<!-- <div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      
        <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        <a class="navbar-brand" href="#">Home</a>
        </div>
        <div id="nav-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Services</a></li>
            <li><a href="http://www.outnix.com" target="ext">Portfolio</a></li>
            <li><a href="#contact">Store</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li class="divider"></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Jobs</a></li>
              </ul>
            </li>
          </ul>
        </div>

    </div>
  </div>
</div> -->


<!-- Carousel ================================================== -->
<div id="myCarousel" class="carousel slide">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="img/mac_1.jpg" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Deep Blue Development</h1>
          <h2>Your Personal Web Heroes</h2>
          <p></p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn More</a>
        </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="img/phone_1.jpeg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Mobile-First</h1>
          <p>In a time where online presense matters most, we deliver rapid results and top notch solutions to get your company out there.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="img/mac_3.jpeg" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Scale-able Technology</h1>
          <p>Using the latest technologies we can handle work-loads of all sizes, whether you are looking to launch a company website, or overhaul your existing systems we have the means to get the job done.</p>
          <p><a class="btn btn-large btn-primary" href="#">Portfolio</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="img/iphone_icon.png">
      <h2>Internet traffic isn't migrating...It's already moved</h2>
      <p>If you're still deciding to create a new website its time to catch up, while the tipping point has already came and past (Mobile internet traffic now accounts for more than 50% of all traffic <a href="http://searchenginewatch.com/sew/opinion/2353616/mobile-now-exceeds-pc-the-biggest-shift-since-the-internet-began">Search Engine Watch</a> ) Now, its not a question of whether adding a digital front is a beneficial move, its about partnering with the right people to make it happen.
      <p><a class="btn btn-default" href="#">See if we're a match</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="img/responsive_icon.png">
      <h2>We create Solutions for all needs</h2>
      <p>We are experienced in the following areas:</p>
      <ul>
        <li>Ecommerce</li>
        <li>Google Maps Api</li>
        <li>Blogs</li>
        <li>SEO</li>
        <li>Mobile-Friendly</li>
        <li>Custom Needs</li>
      </ul>
      <p><a class="btn btn-default" href="#">Contact Us Today!</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="img/contact.png">
      <h2>We're always a call, text, or email away. </h2>
      <p>We recognize that we create mediums that obtain traffic for our clients at all time of the day, therefore we strive to respond to all inquiries within 1 Hour.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="img/ruby_big.png">
    <h2 class="featurette-heading">Ruby<span class="text-muted"> on Rails</span></h2>
    <p class="lead">There's a lot of buzz around whats called the happiness language. Programmers like it, and for the right reasons. Rails is a lightweight framwork capable of taking your software from the ground floor to IPO.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="img/agile.png">
    <h2 class="featurette-heading">Agile<span class="text-muted"> and lean</span></h2>
    <p class="lead">We belive that the key to a successful project, and lasting relationships lies effectively outlining all the required work, setting goals and monitoring efficiency. We are transparent in all of our day to day operations, and monitor all activies in a single workboard you have access to.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="img/idea.png">
    <h2 class="featurette-heading">Have an<span class="text-muted"> Idea?</span></h2>
    <p class="lead">Give us a call! Deal or not, we can guide you in the right direction to make the best decision for giving your idea the chance to breathe.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p></p>
  </footer>

</div><!-- /.container -->
	<!-- script references -->
	
