<html>
<head>
	<title></title>
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1 id="center">Sean Cosentino</h1>
			<div class="row">
				<div class="col-sm-3 center">
					<h6>Web Design and Development</h6> 
				</div> 
				<div class="col-sm-3 center">
					<h6>Wireframing and Prototyping</h6>
				</div> 
				<div class="col-sm-3 center"> 
					<h6>Servers and Deployment</h6> 
				</div> 
				<div class="col-sm-3 center"> 
					<h6>Software Version Control </h6> 
				</div> 
			</div>
		</div>
		<!-- END Header -->








		<!-- COLUMNS -->
		<div id="skill_holder">
			<div class="row center">
				<div class="col-sm-4">
					<h3>Deployment<br><br></h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span style="font-size:5em;" class="glyphicon glyphicon-random" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><br></h4>
								</div>
								<div class="modal-body">
									<p><h2>Production Environment</h2></p>
									<ul>
										<li>Heroku Servers</li>
										<li>Scaling</li>
										<li>Amazon AWS</li>
									</ul>
									<img width="100%" src="https://d3k90kvix375hb.cloudfront.net/assets/heroku-og-10db236b67ed1eb9d5b504c40d2bf465.png">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>

				</div>
				<div class="col-sm-4">
					<h3>Software Version Control</h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal1"> <span style="font-size:5em;" class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal1" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title"><br></h4>
								</div>
								<div class="modal-body">
									<p>Created and Managed a Git flow with multiple developers.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>



				</div>
				<div class="col-sm-4">
					<h3>Web Design<br><br></h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span style="font-size:5em;" class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Modal Header</h4>
								</div>
								<div class="modal-body">
									<p>Some text in the modal.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>



				</div>
			</div>

			<div class="row center">
				<div class="col-sm-4">
					<h3>Prototyping & Wireframing</h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span style="font-size:5em;" class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Modal Header</h4>
								</div>
								<div class="modal-body">
									<p>Some text in the modal.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>



				</div>
				<div class="col-sm-4">
					<h3>Back End Development</h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"> <span style="font-size:5em;" class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Modal Header</h4>
								</div>
								<div class="modal-body">
									<p>Some text in the modal.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>


				</div>
				<div class="col-sm-4">
					<h3>Mobile First<br><br></h3>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span style="font-size:5em;" class="glyphicon glyphicon-phone" aria-hidden="true"></span></button>

					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Modal Header</h4>
								</div>
								<div class="modal-body">
									<p>Some text in the modal.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>



				</div>
			</div>
		</div>


		<footer>
			<div id="height_100" class="row center">
				<div id="foot" class="col-sm-4">
					<a href="/portfolio"><button class="btn btn-primary">Portfolio</button></a>	
				</div>
				<div id="foot" class="col-sm-4">
					<a href="/contact"><button class="btn btn-primary">Contact Me</button></a>	
				</div>
				<div id="foot" class="col-sm-4">
					<a href="/portfolio"><button class="btn btn-primary">About Me</button></a>	
				</div>


			</div>
		</footer>




	</div>

</body>
</html>